body {
    background: #93a2a3;
    color: #274546;
    font-family: 'Bebas Neue', cursive;
}

@font-face {
    font-family: tagline;
    src: url('Luculine.otf');
}
.site-logo {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.site-name {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: bolder;
}

.site-tagline {
    margin-top: 0;
    font-family: tagline;
}

.search-field {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px dotted gray;
    border-radius: 10px;

}

.search-btn {
    color: #93a2a3;
    display: block;
    margin-top: 5px;
    background: #274546;
    border: 1px solid gray;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #132122;
    text-decoration: none;
}

#blogs-txt {
    font-family: tagline;
}

.underline {
    border-bottom: 2px solid black;
}

.shadow {
    text-shadow: 1px 1px 2px black;
}